System Requirement: Any currently popular operating system can run this script

Python requirement: Python3.7 or newer versions
Download python: https://www.python.org/downloads/

Package Requirements:
#if you already have pip, in your system command line type the following commands :
pip install fredapi 
pip install plotly
pip install dash
